@await Html.PartialAsync("_Toolbar", new BreadcrumbViewModel { Title = "بالمر دولار" })

<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <div class="content flex-row-fluid" id="kt_content">
        <!--begin::Row-->
        <div class="row g-5 g-xl-8">
            <!--begin::Col-->
            <div class="row">
                <!--begin::Row-->
                <div class="col-md-3 gx-5 gx-xl-8 mb-5 mb-xl-8">
                    <!--begin::Tiles Widget 1-->
                    <div class="card bgi-no-repeat bgi-size-cover bgi-position-y-center card-xl-stretch shadow-lg">
                        <!--begin::Body-->
                        <div class="card-body p-6">
                            <div class="row">
                                <div id="div_temperature" style="height: 270px;"></div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Tiles Widget 1-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="col-md-3 gx-5 gx-xl-8 mb-5 mb-xl-8">
                    <!--begin::Tiles Widget 1-->
                    <div class="card bgi-no-repeat bgi-size-cover bgi-position-y-center card-xl-stretch shadow-lg">
                        <!--begin::Body-->
                        <div class="card-body p-6">
                            <div class="row">
                                <div id="div_temperature1" style="height: 270px;"></div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Tiles Widget 1-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="col-md-3 gx-5 gx-xl-8 mb-5 mb-xl-8">
                    <!--begin::Tiles Widget 1-->
                    <div class="card bgi-no-repeat bgi-size-cover bgi-position-y-center card-xl-stretch shadow-lg">
                        <!--begin::Body-->
                        <div class="card-body p-6">
                            <div class="row">
                                <div id="div_motorSpeed" style="height: 270px;"></div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Tiles Widget 1-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="col-md-3 gx-5 gx-xl-8 mb-5 mb-xl-8">
                    <!--begin::Tiles Widget 1-->
                    <div class="card bgi-no-repeat bgi-size-cover bgi-position-y-center card-xl-stretch shadow-lg">
                        <!--begin::Body-->
                        <div class="card-body p-6">
                            <div class="row">
                                <div id="div_motorCurrent" style="height: 270px;"></div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Tiles Widget 1-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="row">
                <!--begin::Row-->
                <div class="col-md-3 gx-5 gx-xl-8 mb-5 mb-xl-8">
                    <!--begin::Tiles Widget 1-->
                    <div class="card bgi-no-repeat bgi-size-cover bgi-position-y-center card-xl-stretch shadow-lg">
                        <!--begin::Body-->
                        <div class="card-body p-6">
                            <div class="row">
                                <div id="div_chart4" style="height: 270px;"></div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Tiles Widget 1-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="col-md-3 gx-5 gx-xl-8 mb-5 mb-xl-8">
                    <!--begin::Tiles Widget 1-->
                    <div class="card bgi-no-repeat bgi-size-cover bgi-position-y-center card-xl-stretch shadow-lg">
                        <!--begin::Body-->
                        <div class="card-body p-6">
                            <div class="row">
                                <div id="div_chart5" style="height: 270px;"></div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Tiles Widget 1-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="col-md-3 gx-5 gx-xl-8 mb-5 mb-xl-8">
                    <!--begin::Tiles Widget 1-->
                    <div class="card bgi-no-repeat bgi-size-cover bgi-position-y-center card-xl-stretch shadow-lg">
                        <!--begin::Body-->
                        <div class="card-body p-6">
                            <div class="row">
                                <div id="div_chart6" style="height: 270px;"></div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Tiles Widget 1-->
                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="col-md-3 gx-5 gx-xl-8 mb-5 mb-xl-8">
                    <!--begin::Tiles Widget 1-->
                    <div class="card bgi-no-repeat bgi-size-cover bgi-position-y-center card-xl-stretch shadow-lg">
                        <!--begin::Body-->
                        <div class="card-body p-6">
                            <div class="row">
                                <div id="div_chart7" style="height: 270px;"></div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Tiles Widget 1-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
</div>

<!--begin::Modal - ساختن کمپین-->
<div class="modal fade" id="kt_modal_create_campaign" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-fullscreen p-9">
		<!--begin::Modal content-->
		<div class="modal-content modal-rounded">
			<!--begin::Modal header-->
			<div class="modal-header py-7 d-flex justify-content-between">
				<!--begin::Modal title-->
				<h2>نمودار ها</h2>
				<!--end::Modal title-->
				<!--begin::Close-->
				<div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
					<i class="ki-duotone ki-cross fs-1">
						<span class="path1"></span>
						<span class="path2"></span>
					</i>
				</div>
				<!--end::Close-->
			</div>
			<!--begin::Modal header-->
			<!--begin::Modal body-->
			<div class="modal-body scroll-y m-5">
                <div id="div_chart1"></div>
                <div id="div_chart2"></div>
			</div>
			<!--begin::Modal body-->
		</div>
	</div>
</div>
<!--end::Modal - ساختن کمپین-->

@section Scripts {
    <script type="text/javascript" src="/Scripts/Diagram/DeviceItem.js"></script>
}


