<!DOCTYPE html>
<!--
نویسنده: ساتراس وب
محصولات نام: مترونیک
محصولات Version: 8.2.0
خرید: https://1.envato.market/EA4JP
وب سایت: http://www.keenthemes.com
تماس با ما: support@keenthemes.com
دنبال کردن: www.twitter.com/keenthemes
دریبل: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
لاینسس شده: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html direction="rtl" dir="rtl" style="direction: rtl">
<!--begin::Head-->
<head>
	<base href="" />
	<title>قالب مدیریتی مترونیک - ساتراس وب</title>
	<meta charset="utf-8" />
	<meta name="description" content="The most advanced Bootstrap 5 Admin Theme with 40 unique prebuilt layouts on Themeforest trusted by 100,000 beginners and professionals. Multi-demo, حالت تیره, RTL support and complete React, Angular, Vue, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, Node.js, Flask, Symfony & Laravel versions. Grab your copy now and get life-time updates for free." />
	<meta name="keywords" content="metronic, bootstrap, bootstrap 5, angular, VueJs, React, Asp.Net Core, Rails, Spring, Blazor, Django, Express.js, Node.js, Flask, Symfony & Laravel starter kits, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="مترونیک - پنل ادمین بوت استراپ Template, HTML, VueJS, React, Angular. Laravel, Asp.Net Core, روبی روی ریل, Spring Boot, Blazor, Django, Express.js, Node.js, Flask Admin داشبورد Theme & Template" />
	<meta property="og:url" content="https://keenthemes.com/metronic" />
	<meta property="og:site_name" content="ساتراس وب | مترونیک" />
	<link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
	<link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
	<!--begin::Fonts(mandatory for all pages)-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/cssfamily=Inter:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Vendor Stylesheets(used for this page only)-->
	<link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
	<!--end::Vendor Stylesheets-->
	<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
	<link href="~/assets/plugins/global/plugins.bundle.rtl.css" rel="stylesheet" type="text/css" />
	<link href="~/assets/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script>// Frame-busting to prevent site from being loaded within a frame without permission (click-jacking) if (window.top != window.self) { window.top.location.replace(window.self.location.href); }</script>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled">
	<!--begin::Theme mode setup on page load-->
    <script>var defaultThemeMode = "light"; var thememode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-bs-theme-mode")) { thememode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if (localStorage.getItem("data-bs-theme") !== null) { thememode = localStorage.getItem("data-bs-theme"); } else { thememode = defaultThemeMode; } } if (thememode === "system") { thememode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", thememode); }</script>
	<!--end::Theme mode setup on page load-->
	<!--begin::اصلی-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="page d-flex flex-row flex-column-fluid">
			<!--begin::Wrapper-->
			<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
				@await Html.PartialAsync("_Header")
				<!--begin::Container-->
				
					@RenderBody()
				<!--end::Container-->
				@await Html.PartialAsync("_Footer")
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Page-->
	</div>
	<!--end::Root-->
	<!--begin::Javascript-->
	<script>var hostUrl = "~/assets/";</script>
	<!--begin::Global Javascript Bundle(mandatory for all pages)-->
	<script src="~/assets/plugins/global/plugins.bundle.js"></script>
	<script src="~/assets/js/scripts.bundle.js"></script>
	<!--end::Global Javascript Bundle-->
	<!--begin::Vendors Javascript(used for this page only)-->
	<script src="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
	<script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
	<!--end::Vendors Javascript-->
	<!--begin::سفارشی Javascript(used for this page only)-->
	<script src="~/assets/js/widgets.bundle.js"></script>
	<script src="~/assets/js/custom/widgets.js"></script>
	<script src="~/assets/js/custom/apps/chat/chat.js"></script>
	<script src="~/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
	<script src="~/assets/js/custom/utilities/modals/create-app.js"></script>
	<script src="~/assets/js/custom/utilities/modals/create-campaign.js"></script>
	<script src="~/assets/js/custom/utilities/modals/users-search.js"></script>
	<!--end::سفارشی Javascript-->
	    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://unpkg.com/gojs@3.0.4/release/go.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="https://code.highcharts.com/modules/stock.js"></script>
	<script src="https://code.highcharts.com/maps/modules/map.js"></script>
	<script src="https://code.highcharts.com/modules/gantt.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/parallel-coordinates.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<script src="https://code.highcharts.com/modules/annotations-advanced.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/draggable-points.js"></script>
	<script src="https://code.highcharts.com/modules/static-scale.js"></script>
	<script src="https://code.highcharts.com/modules/broken-axis.js"></script>
	<script src="https://code.highcharts.com/modules/heatmap.js"></script>
	<script src="https://code.highcharts.com/modules/tilemap.js"></script>
	<script src="https://code.highcharts.com/modules/timeline.js"></script>
	<script src="https://code.highcharts.com/modules/treemap.js"></script>
	<script src="https://code.highcharts.com/modules/treegraph.js"></script>
	<script src="https://code.highcharts.com/modules/item-series.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
	<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
	<script src="https://code.highcharts.com/modules/bullet.js"></script>
	<script src="https://code.highcharts.com/modules/funnel.js"></script>
	<script src="https://code.highcharts.com/modules/funnel3d.js"></script>
	<script src="https://code.highcharts.com/modules/pyramid3d.js"></script>
	<script src="https://code.highcharts.com/modules/networkgraph.js"></script>
	<script src="https://code.highcharts.com/modules/pareto.js"></script>
	<script src="https://code.highcharts.com/modules/pattern-fill.js"></script>
	<script src="https://code.highcharts.com/modules/price-indicator.js"></script>
	<script src="https://code.highcharts.com/modules/sankey.js"></script>
	<script src="https://code.highcharts.com/modules/arc-diagram.js"></script>
	<script src="https://code.highcharts.com/modules/dependency-wheel.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
	<script src="https://code.highcharts.com/modules/sonification.js"></script>
	<script src="https://code.highcharts.com/modules/stock-tools.js"></script>
	<script src="https://code.highcharts.com/modules/streamgraph.js"></script>
	<script src="https://code.highcharts.com/modules/sunburst.js"></script>
	<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
	<script src="https://code.highcharts.com/modules/variwide.js"></script>
	<script src="https://code.highcharts.com/modules/vector.js"></script>
	<script src="https://code.highcharts.com/modules/venn.js"></script>
	<script src="https://code.highcharts.com/modules/windbarb.js"></script>
	<script src="https://code.highcharts.com/modules/wordcloud.js"></script>
	<script src="https://code.highcharts.com/modules/xrange.js"></script>
	<script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>
	<script src="https://code.highcharts.com/modules/drag-panes.js"></script>
	<script src="https://code.highcharts.com/modules/debugger.js"></script>
	<script src="https://code.highcharts.com/modules/dumbbell.js"></script>
	<script src="https://code.highcharts.com/modules/lollipop.js"></script>
	<script src="https://code.highcharts.com/modules/cylinder.js"></script>
	<script src="https://code.highcharts.com/modules/organization.js"></script>
	<script src="https://code.highcharts.com/modules/dotplot.js"></script>
	<script src="https://code.highcharts.com/modules/marker-clusters.js"></script>
	<script src="https://code.highcharts.com/modules/hollowcandlestick.js"></script>
	<script src="https://code.highcharts.com/modules/heikinashi.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
	<!--end::Javascript-->
</body>
<!--end::Body-->
</html>	